body{
    color: black;
    font-family: american typewriter, serif;
       
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid white;
    
}  

.flex-child:first-child {
    margin-right: 2px;
} 
 

 
.box1, .box10{
    background-color: #2f603a;
    width:33%;
    text-align: center;
    border: solid 2px #2f603a;
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

.box5, .extra2{
    color:white;
    background-color: #dd6646;
    width:33%;
    text-align: center;
    border: solid 2px #dd6646;
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

.box6, .extra3{
    color: white;
    background-color: #593330;
    width:33%;
    text-align: center;
    border: solid 2px #593330;
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

.box2, .extra1{
    color: white;
    background-color: #b9655a;
    width:33%;
    text-align: center;
    border: solid 2px #b9655a;
    border-radius: 10px 10px 0 0;
    margin:10px;
}

.box3, .box12{
    background-color: white;
    width:33%;
    text-align: center;
    border-bottom: solid 2px #2f603a;
    border-left: solid 2px #2f603a;
    border-right: solid 2px #2f603a;
    border-radius: 10px;
    border-radius: 0 0 10px 10px;
    margin: 10px;
}

.box8{
    background-color: white;
    width:33%;
    text-align: center;
    border-bottom: solid 2px #593330;
    border-left: solid 2px #593330;
    border-right: solid 2px #593330;
    border-radius: 10px;
    border-radius: 0 0 10px 10px;
    margin: 10px;
}

.box9{
    background-color: #eea594;
    width:33%;
    text-align: center;
    border: solid 2px #eea594;
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

 .box11{
    background-color: white;
    width:33%;
    text-align: center;
    border-bottom: solid 2px #eea594;
    border-left: solid 2px #eea594;
    border-right: solid 2px #eea594;
    border-radius: 10px;
    border-radius: 0 0 10px 10px;
    margin: 10px;
}
.box4, .box7{
    background-color: white;
    width:33%;
    text-align: center;
    border-bottom: solid 2px #b9655a;
    border-left: solid 2px #b9655a;
    border-right: solid 2px #b9655a;
    border-radius: 10px;
    border-radius: 0 0 10px 10px;
    margin: 10px;
}

h1{
    font-size: 70px;
}

img{
    height: 100px;
    width:100px;
    border-radius: 50%;
}

.box1, .box2, .box5, .box6, .box9, .box10{
    color: white;
}

