body{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid white;
    
}  

.flex-child:first-child {
    margin-right: 2px;
} 
 

 
.box1, .box6{
    background-color: pink;
    width:50%;
    text-align: center;
    border: solid 2px pink;
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

.box2, .box5{
    background-color: aqua;
    width:50%;
    text-align: center;
    border: solid 2px aqua;
    border-radius: 10px 10px 0 0;
    margin:10px;
}

.box3, .box8{
    background-color: white;
    width:50%;
    text-align: center;
    border-bottom: solid 2px pink;
    border-left: solid 2px pink;
    border-right: solid 2px pink;
    border-radius: 10px;
    border-radius: 0 0 10px 10px;
    margin: 10px;
}

.box4, .box7{
    background-color: white;
    width:50%;
    text-align: center;
    border-bottom: solid 2px aqua;
    border-left: solid 2px aqua;
    border-right: solid 2px aqua;
    border-radius: 10px;
    border-radius: 0 0 10px 10px;
    margin: 10px;
}
